<!DOCTYPE html>
<html>
  <head>
    <title>Program Admission Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">College</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Student Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/getall">Program Selection</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <body>
        <h2>Please enter new details for <%= old_user %></h2>
        <form action="/student/edit" method="post">
            <div>
              <label for="username">User Name:</label><br>
              <input type="text" id="username" name="username" required>
            </div>
            <div>
              <label for="fullname">Full Name:</label><br>
              <input type="text" id="fullname" name="fullname" required>
            </div>
            <div>
              <label for="contact">Contact:</label><br>
              <input type="text" id="contact" name="contact" required>
            </div>
            <div>
              <label for="email">Email:</label><br>
              <input type="email" id="email" name="email" required>
            </div>
            <div>
              <label for="password">Password:</label><br>
              <input type="password" id="password" name="password" required>
            </div>
            <div>
              <label for="confirm_password">Confirm Password:</label><br>
              <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            <div>
              <input type="hidden" value="<%= old_user %>" name="old_user" />
              <input type="submit" value="Update Student Info"/>
            </div>
          </form>
    </body>

    
    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
