<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>College Website</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content=""> 
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
<!-- style css -->
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<!-- Responsive-->
<link rel="stylesheet" href="../css/responsive.css" />
<!-- fevicon -->
<link rel="icon" href="../images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css" />
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
<!-- owl stylesheets --> 
<link rel="stylesheet" href="../css/owl.carousel.min.css"/>
<link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen"/>
</head>
  <body>
    <!-- header section start -->
    <div class="header_section">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo"><a href="/"><img src="../images/dmcllg.jpg"></a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">ABOUT</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="/tutorlogin">STUDENT DETAILS</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/login">PROGRAM SELECTION</a>
            </li>
            
          </ul>   
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/register">Register</a>
            </li>
            
          </ul>                                       
        </div>
      </nav>
    </div>
    <!-- header section end -->
      <div class="container h-100 d-flex justify-content-center">
        <div class="jumbotron my-auto">
        <h2>Please enter new details for <%= old_user %></h2>
        <form action="/student/edit" method="post">
          <div class="container">
            <div class="row align-items-center">
              <label for="username">User Name:</label><br>
              <input class="form-control input-lg" type="text" id="username" name="username" required>
            </div>
            <div class="row align-items-center">
              <label for="fullname">Full Name:</label><br>
              <input class="form-control input-lg" type="text" id="fullname" name="fullname" required>
            </div>
            <div class="row align-items-center">
              <label for="contact">Contact:</label><br>
              <input class="form-control input-lg" type="text" id="contact" name="contact" required>
            </div>
            <div class="row align-items-center">
              <label for="email">Email:</label><br>
              <input class="form-control input-lg" type="email" id="email" name="email" required>
            </div>
            <div class="row align-items-center">
              <label for="password">Password:</label><br>
              <input class="form-control input-lg" type="password" id="password" name="password" required>
            </div>
            <div class="row align-items-center">
              <label for="confirm_password">Confirm Password:</label><br>
              <input class="form-control input-lg" type="password" id="confirm_password" name="confirm_password" required>
            </div><br>
            <div class="row align-items-center">
              <input type="hidden" value="<%= old_user %>" name="old_user" />
              <input type="submit" value="Update Student Info"/>
            </div>
            </div>
          </form>
        </div>
      </div>

    <!-- Javascript files-->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery-3.0.0.min.js"></script>
    <script src="../js/plugin.js"></script>
    <!-- sidebar -->
    <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../js/custom.js"></script>
    <!-- javascript --> 
    <script src="../js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>    
    
    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
  </html>
