
<form action="/user/courses" method="post">
    <div>
      <label for="coursename">coursename:</label><br>
      <input type="text" id="coursename" name="coursename" required>
    </div>
    <div>
      <label for="coursesection">coursesection:</label><br>
      <input type="text" id="coursesection" name="coursesection" required>
    </div>
    <div>
      <label for="coursetime">coursetime:</label><br>
      <input type="text" id="coursetime" name="coursetime" required>
    </div>
    <div>
      <label for="coursefee">coursefee:</label><br>
      <input type="text" id="coursefee" name="coursefee" required>
    </div>
    <div>
      <input type="submit" />
    </div>
  </form>