    <!-- header section start -->
    <div class="header_section">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo"><a href="/"><img src="../images/dmcllg.jpg"></a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">ABOUT</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="/login">STUDENT DETAILS</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/getall">PROGRAM SELECTION</a>
            </li>
            
          </ul>   
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/register">Register</a>
            </li>
            
          </ul>                                       
        </div>
      </nav>
    </div>
<form action="/user/courses" method="post">
    <div>
      <label for="coursename">coursename:</label><br>
      <input type="text" id="coursename" name="coursename" required>
    </div>
    <div>
      <label for="coursesection">coursesection:</label><br>
      <input type="text" id="coursesection" name="coursesection" required>
    </div>
    <div>
      <label for="coursetime">coursetime:</label><br>
      <input type="text" id="coursetime" name="coursetime" required>
    </div>
    <div>
      <label for="coursefee">coursefee:</label><br>
      <input type="text" id="coursefee" name="coursefee" required>
    </div>
    <div>
      <input type="submit" />
    </div>
  </form>